
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: 'CHEESEBURGA', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
  }
  .bgr{
    border: 2px solid red;
    max-width: 90%;
    padding: 2rem 2rem;
    margin: 2rem;
  }
  .bgy{
    border: 2px solid yellow;
  }
  .App {

      width: 100%;             /* Use full width of the viewport */
      max-width: 1796px;      /* Limit maximum width */
      height: auto;           /* Let height adjust based on content */
      margin: 0 auto;         /* Center the content */
      padding-top: 68px;      /* Use padding to create space at the top */
      border-radius: 40px 0 0 0; /* Rounded corners */
      opacity: 1;             /* Initially visible */
      overflow: auto;         /* Enables scrolling */
      transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
  
}



  

  